@use "../../styles/utils/index" as utils;

.nav {
    @include utils.add-padding();
    padding: 10px;
}
.navList {
    display: inline-flex;
    list-style: none;
    font-weight: bold;

    @include utils.breakpoint-up(small) {
        flex-direction: row;
    }

    @include utils.breakpoint-up(medium) {
        flex-direction: row;
    }

    @include utils.breakpoint-up(large) {
        flex-direction: row;
    }

    @include utils.breakpoint-up(xlarge) {
        flex-direction: column;
        justify-content: space-around;
    }

    li {
        @include utils.add-margin();
        @include utils.add-padding();
    }
}
