.nav {
    ul {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 20%;

        li {
            margin: 0px 10px;
        }
    }
}
