@use "../../styles/utils/index" as utils;

.mainContainer {
    @include utils.add-margin();
    @include utils.add-padding();

    display: grid;

    @include utils.breakpoint-up(small) {
        grid-template-columns: 1fr;
    }

    @include utils.breakpoint-up(medium) {
        grid-template-columns: 1fr;
    }

    @include utils.breakpoint-up(large) {
        grid-template-columns: 8fr 2fr;
    }

    @include utils.breakpoint-up(xlarge) {
        grid-template-columns: 8fr 2fr;
    }
}

.mainContent {
    @include utils.add-margin();
    @include utils.add-padding();

    max-width: 900px;
}
