@use "../../styles/utils/index" as utils;

.footer {
    @include utils.add-margin();
    @include utils.add-padding();

    display: flex;
    justify-content: space-between;

    .contactMe {
        list-style: none;
    }
}
